<div class="columns is-multiline is-centered">
  <div class="column">
    <app-letture-filter
      [dal]="dal"
      [al]="al"
      (cercaEvent)="cerca($event)"
    ></app-letture-filter>
  </div>
  <div class="column is-full areachart-wrapper dark">
    <ngx-charts-bar-vertical
      [results]="data"
      [scheme]="'cool'"
      [gradient]="options.gradient"
      [xAxis]="options.showXAxis"
      [yAxis]="options.showYAxis"
      [legend]="options.showLegend"
      [showXAxisLabel]="options.showXAxisLabel"
      [showYAxisLabel]="options.showYAxisLabel"
      [xAxisLabel]="options.xAxisLabel"
      [yAxisLabel]="options.yAxisLabel"
      (select)="onSelect($event)"
      class="bar-chart"
    >
    </ngx-charts-bar-vertical>
  </div>
</div>
