@if (uso(); as u) {
  <div>
    {{ u.elettrodomestico.nome }}{{ getDurata() }}{{ getNote() }}
    @if (!nascondiPulsanti()) {
      <button
        mat-icon-button
        class="small-icon-button"
        (click)="modifica()"
        >
        <mat-icon>edit</mat-icon>
      </button>
    }
    @if (!nascondiPulsanti()) {
      <button
        mat-icon-button
        class="small-icon-button"
        (click)="elimina()"
        >
        <mat-icon>delete</mat-icon>
      </button>
    }
    @if (!nascondiPulsanti()) {
      <button
        mat-icon-button
        class="small-icon-button"
        (click)="clona()"
        >
        <mat-icon>content_copy</mat-icon>
      </button>
    }
  </div>
}
