<div class="columns is-centered">
  <div class="column is-full table-container">
    <div class="column is-full">
      <app-letture-filter class="filter-full" (cercaEvent)="cerca($event)"></app-letture-filter>
      <button mat-button (click)="aggiungi()">Aggiungi</button>
      <button mat-button (click)="ricalcolaConsumi()">Ricalcola Consumi</button>
      <button mat-button (click)="nuovoAnno()"> Nuovo Anno </button>
    </div>
    <section class="overflow-table-container">
      <table mat-table [dataSource]="paginated" class="mat-elevation-z8" multiTemplateDataRows>
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let element">
            {{ element.giorno | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="lettura">
          <th mat-header-cell *matHeaderCellDef>Lettura</th>
          <td mat-cell *matCellDef="let element">{{ element.lettura }}</td>
        </ng-container>

        <ng-container matColumnDef="giorno">
          <th mat-header-cell *matHeaderCellDef>Giorno</th>
          <td mat-cell *matCellDef="let element">
            {{ giornoSettimana(element.giorno) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="elettrodomestici">
          <th mat-header-cell *matHeaderCellDef>Elettrodomestici</th>
          <td mat-cell *matCellDef="let element">
            @for (el of element.elettrodomestici; track el) {
            <app-uso-elettrodomestico [uso]="el" (modified)="onUsoUpdate($event)"></app-uso-elettrodomestico>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="consumo">
          <th mat-header-cell *matHeaderCellDef>Consumo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.consumo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="escludiDaMedia">
          <th mat-header-cell *matHeaderCellDef>Media</th>
          <td mat-cell *matCellDef="let element">
            {{ !element.escludiDaMedia }}
          </td>
        </ng-container>
        <ng-container matColumnDef="escludiDaMinMax">
          <th mat-header-cell *matHeaderCellDef>MinMax</th>
          <td mat-cell *matCellDef="let element">
            {{ !element.escludiDaMinMax }}
          </td>
        </ng-container>
        <ng-container matColumnDef="azioni">
          <th mat-header-cell *matHeaderCellDef>Azioni</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="small-icon-button" (click)="elimina(element)" aria-label="Elimina">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button class="small-icon-button" (click)="edit(element)" aria-label="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="small-icon-button" (click)="aggiungiElettrodomestico(element)"
              aria-label="Aggiungi Uso">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="example-element-row"></tr>
      </table>
    </section>
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20,50, 100, allData.length]"
      [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage">
    </mat-paginator>
  </div>
</div>
