input.input.is-normal{
  width: inherit;
  height: min-content;
}

input.input.is-normal.table-input{
  width: 90%;
  height: min-content;
}

.overflow-table-container {
  max-height: 85vh;
  overflow: auto;
}