<h1 class="pt-3 pl-4">Elettrodomestici</h1>
<div class="columns is-multiline is-centered">
  <div class="column is-full table-container">
    <mat-label>Nuovo Elettrodomestico</mat-label>
    <input
      class="input is-normal has-text-light has-background-grey-dark"
      type="text"
      [(ngModel)]="nuovo"
    />
    <button mat-button (click)="aggiungi()">Aggiungi</button>
  </div>
  <div class="column is-full table-container">
    <section class="overflow-table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let element" class="table-input">
            <input
              class="input is-normal table-input has-text-light has-background-grey-dark"
              type="text"
              [(ngModel)]="element.nome"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="azioni">
          <th mat-header-cell *matHeaderCellDef>Azioni</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="salva(element)">Salva</button>
            <button
              mat-button
              *ngIf="element.canDelete"
              (click)="elimina(element)"
            >
              Elimina
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </section>
  </div>
</div>
