<mat-toolbar>
  <nav class="nav-links">
    <span class="header" [routerLink]="'/home'">Home</span>
    <span class="header" [routerLink]="'/letture'">Letture</span>
    <span class="header" [routerLink]="'/elettrodomestici'">Elettrodomestici</span>
    <span class="header" [routerLink]="'/cambi-anno'">Anni Bolletta</span>
    <span class="header" (click)="export()">Export</span>
    <span class="header" (click)="fileUpload.click()">Import</span>
  </nav>
</mat-toolbar>
<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
/>
