<div class="pt-5 pl-4">
  <mat-button-toggle-group
    [value]="mode"
    (change)="onModeChange($any($event.value))"
    class="mb-3"
  >
    <mat-button-toggle value="lettura">Set Lettura</mat-button-toggle>
    <mat-button-toggle value="consumo">Set Consumo</mat-button-toggle>
  </mat-button-toggle-group>

  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Lettura</mat-label>
      <input
        [formControlName]="'lettura'"
        matInput
        type="number"
        step="0.01"
        lang="it-IT"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Consumo</mat-label>
      <input
        [formControlName]="'consumo'"
        matInput
        type="number"
        step="0.01"
        lang="it-IT"
      />
    </mat-form-field>

    <mat-form-field class="pl-2">
      <mat-label>Giorno</mat-label>
      <input matInput [formControlName]="'giorno'" [matDatepicker]="picker" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
      <mat-checkbox [formControlName]="'escludiDaMedia'"
        >Escludi Da Media</mat-checkbox
      >
      <mat-checkbox [formControlName]="'escludiDaMinMax'"
        >Escludi Da MinMax</mat-checkbox
      >
    </div>
  </form>
  <button mat-button [disabled]="!form.valid" (click)="salva()">Salva</button
  ><button mat-button (click)="chiudi()">Indietro</button>
</div>
